@import "config";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 85%;
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0em;
    transition: all 0.5s ease;

    .logo {
        width: 40%;
        max-width: 120px;
        margin-bottom: 2em;
    }

    h1 {
        color: $Gray;
        font-weight: normal;
    }

    span {
        font-weight: bold;
        color: $VeryDarkBlue;
    }

    p {
        margin: 1.5em 0em;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .emailDiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
                 p {
            margin: 0em;
            color: red;
            margin: .5em 3em;
            font-size: .6em;
            
        }

    }

    .show {
        display: inline-block;
    }

    .hide {
        display: none;
    }

    input {
        border-radius: 5em;
        width: 100%;
        border: none;
        padding: 1em 2em;


        &:focus {
            outline: none;
        }
    }

    input[type=email] {

        &::placeholder {
            color: $PaleBlue;
        }
    }

    .active {
        border: solid 1px $PaleBlue;
    }

    .error {
        border: solid 1px red;
    }

    input[type=button] {
        color: white;
        background-color: $Blue;
        transition: all 2ms ease-in-out;
        margin: 0.5em 0em;

        &:hover {
            cursor: pointer;
        }

        &:active {
            cursor: pointer;
            background-color: $Blue2;
        }
    }

    .illustration {
        width: 100%;
        margin: 7em 0em;
    }

    .social-icons {

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;

        }

        i {
            color: $Blue;

            &:hover {
                color: white;
            }
        }

        span {
            border-radius: 5em;
            border: solid 1px $PaleBlue;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            &:hover {
                border: solid 1px $Blue;
                background-color: $Blue;

            }
        }

        p {
            color: $Gray;
        }
    }
}




.attribution {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 728px) {
    main form {

        flex-direction: row;
        align-items: flex-start;
        transition: all 0.5s ease-in-out;
        width: 100%;
        .emailDiv {
            flex: 3;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 1em;

        }

        input[type=button] {
            flex: 1;
            margin: 0em;
        }

    }


}