@import "config";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100hv;
}
main{
    width: 85%;
    max-width: 380px;
    
}
img{
    width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}